<div class="pagination container"  [ngClass]="{ 'no-click': noClick }">
    <ng-container *ngIf="pagesArray.length <= 10" >
    <ul>
      <a *ngIf="currentPage !== 1"
      (click)="setPage(currentPage - 1)" class="pointer">
        <li><</li>
      </a>
      <a
        *ngFor="let page of pagesArray; let index = index"
        [ngClass]="{ 'is-active': currentPage === index + 1 }"
        (click)="setPage(index + 1)"
      >
        <li class="pointer">{{ index + 1 }}</li>
      </a>
      <a *ngIf="currentPage !== pagesArray.length"
      (click)="setPage(currentPage + 1)" class="pointer">
        <li>></li>
      </a>
      </ul>
  </ng-container>
</div>
